{% extends '@whatwedoWorkflow/layout.html.twig' %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ place.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ place.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('wwd_workflow_workflow_show', {id: place.workflow.id}) }}">back to workflow</a>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>EventName</th>
                    <th>Sortorder</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for event_definition in place.eventDefinitions %}
                    <tr>
                        <td>{{ event_definition.id }}</td>
                        <td>{{ event_definition.name }}</td>
                        <td>{{ event_definition.eventName }}</td>
                        <td>{{ event_definition.sortorder }}</td>
                        <td>
                            <a href="{{ path('wwd_workflow_place_event_definition_show', {'id': event_definition.id}) }}">show</a>
                            <a href="{{ path('wwd_workflow_place_event_definition_edit', {'id': event_definition.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('wwd_workflow_place_event_definition_new', {place: place.id}) }}">Create new</a>

            <a href="{{ path('wwd_workflow_workflow_show', {id: place.workflow.id}) }}">back to workflow</a>



{% endblock %}
