{% extends '@whatwedoWorkflow/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.51.0/codemirror.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.51.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.51.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.51.0/mode/twig/twig.min.js"></script>

    <script>
        var myCodeMirrorExpression = CodeMirror.fromTextArea($('.expression_editor').get( 0 ),
            {
                lineNumbers: true
            });
        var myCodeMirrorTemplate = CodeMirror.fromTextArea($('.template_editor').get( 0 ),
            {
                lineNumbers: true,
                mode: { name: 'twig'}
            });
    </script>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-secondary">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    {% if eventDefinition.transition %}
    <a href="{{ path('wwd_workflow_workflow_show', {id: eventDefinition.transition.workflow.id}) }}" class="btn btn-primary">back to workflow</a>
    {% endif %}
    {% if eventDefinition.place %}
    <a href="{{ path('wwd_workflow_workflow_show', {id: eventDefinition.place.workflow.id}) }}" class="btn btn-primary">back to workflow</a>
    {% endif %}
{% endblock %}
