{% extends '@whatwedoWorkflow/layout.html.twig' %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Supports</th>
                <th>Single State</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workflow in workflows %}
            <tr>
                <td>{{ workflow.id }}</td>
                <td>{{ workflow.name }}</td>
                <td>{{ workflow.type }}</td>
                <td>{{ workflow.supports ? workflow.supports|json_encode : '' }}</td>
                <td>{{ workflow.singleState ? 'yes' : 'no' }}</td>
                <td>
                    <a href="{{ path('wwd_workflow_workflow_show', {'id': workflow.id}) }}">show</a>
                    <a href="{{ path('wwd_workflow_workflow_edit', {'id': workflow.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('wwd_workflow_workflow_new') }}">new
    </a>
{% endblock %}
