{% extends '@whatwedoWorkflow/layout.html.twig' %}

{% block body %}
    {% embed "include/embed/portlet.html.twig" with { portlet_title: 'Create new PlaceEventDefinition'} %}
    {% block portlet_body %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}

    <a href="{{ path('wwd_workflow_place_show', {id: eventDefinition.place.id} ) }}">back to place</a>
    {% endblock %}
    {% endembed %}

{% endblock %}
