{% extends '@whatwedoWorkflow/layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-secondary">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    <a href="{{ path('wwd_workflow_workflow_show', {id: eventDefinition.place.workflow.id} ) }}" class="btn btn-primary">back to workflow</a>
{% endblock %}
