{% extends 'baseMet.html.twig' %}
{% import "macros/elements.html.twig" as elements %}

{% block body %}
    {% embed "include/embed/portlet.html.twig" with { portlet_title: 'Create new Transition'} %}
    {% block portlet_body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    <a class="btn-default btn" href="{{ path('workflow_workflow_show', {id: transition.workflow.id}) }}">back to list</a>
    {{ form_end(form) }}
        {% endblock %}
    {% endembed %}


{% endblock %}
